* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

div {
    position: relative;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #333;
    height: 100vh;
    font-family: 'Tangerine', cursive;
    word-spacing: 130%;
}

.quote-box {
    background-color: #fff;
    width: 450px;
    padding: 40px 50px;
    display: table;
    position: relative;
    border-radius: 3px;
}

.quote-box__text {
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 700;
    font-size: 2em;
}   

.quote-box__text i {
    font-size: .8em;
    margin-right: 0.4em;
}



.quote-box__author {
    margin-top: 8px;
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    text-align: right;
    font-size: 1.5em;
    font-weight: 700;

}



.buttons {
    margin-top: 5px;
    width: 450px;
    margin: auto;
    display: block;
}

.button {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;

}

.button:hover {
    opacity: 0.9;
}

.buttons__twitter {
    float: left;
    padding: 0;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 60px;
}

.buttons__quote {
    float: right;
}

